.add-item-container{
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	display:inline-flex;
	position:sticky;
	top: 0;
	left: 10%;
}
.container { 
	width: 80vw; 
	border-collapse: collapse; 
	margin:50px auto;
	display: block;
}
.text{
  	text-align: left; 
	font-size: 14px;
}
.button{
  display: flex;
  background-color: blue;
  border-radius: 5px;
  width: 6vw;
  justify-content: center;
  align-items: center;
  height: 6vw;
  margin: auto;
}
.button span{
	align-content: center;
}
.input{
  font-size: 18px;
  margin-right: 5vw;
  width: 25vw;
}
.footer-container{
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: black;
}
.footer{
	padding: 10vw;
	font-size:12px;
    width:100%;
    padding:9px;
	border-radius: 15px;
	display: inline-flex;
}
.reset{
	margin-left:5vw;
	width: 15vw;
	background-color:red; 
	text-align: center;
}
.pay-now{
	width: 15vw;
	background-color:green; 	
	text-align: center;
}
.data{
	width: 50vw;
	background-color: black;
	color: white;
	text-align: center;	
}
.footer span{
	margin: auto;
}